.user-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-login {
  text-transform: none !important;
  width: 400px;
  background-color: var(--twitter-color) !important;
  color: white !important;
}
.input-area {
  margin-bottom: 5px !important;
  width: 400px;
}
